.date-in-capital {
    width: 219px;
    height: 81px;

    background: #ACCBA7;
    border-radius: 20px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #514C4C; 
    &__item {
        padding-top: 2px;
    }
}